<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<body>
<div th:fragment="content" class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Demanda Jurídica</h3>
        <div class="box-tools pull-right">

            <a class="btn btn-success btn-sm" th:href="@{/demandaJuridica/create/}"><i class="fa fa-plus"></i></a>

        </div>
    </div>
    <div class="box-body no-padding">
        <table class="table table-stripped table-responsive table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Demanda</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="demandaJuridica : ${demandas}">
                <td th:text="${demandaJuridica.id}"></td>
                <td th:text="${demandaJuridica.demanda_juridica}"></td>
                <td>
                    <div class="btn-group pull-right">

                        <a th:href="@{/demandaJuridica/update/{id}(id=${demandaJuridica.id})}" class="btn btn-primary btn-sm">
                            <i class="fa fa-pencil margin-r-5"></i></a>


                        <a class="btn btn-danger btn-sm" th:href="@{/demandaJuridica/delete/{id}(id=${demandaJuridica.id})}">
                            <i class="fa fa-trash-o margin-r-5"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer">
    </div>
</div>
</body>

</html>